<div class="container">
  <p class="welcome-text">
    Welcome to the pixel memory game, where you need to match some awesome game
    skills.
  </p>
  <form class="playercount-form" (ngSubmit)="onSubmit()">
    <label for="player-count">How many players?</label>
    <input
      [disabled]="playerService.playerList[0]"
      id="player-count"
      [(ngModel)]="playerCount"
      name="player-count"
      type="number"
      min="2"
      max="4"
    />
    <button id="btn-submit" [disabled]="!playerCount" type="submit">
      Submit
    </button>
  </form>
  <form class="start-form" (ngSubmit)="startGame()">
    <div class="playername-container">
      <app-player-form
        (inputName)="setName($event)"
        *ngFor="let player of playerService.playerList; let i = index"
        [title]="i"
        class="player-form"
      ></app-player-form>
    </div>
    <button id="btn-start" *ngIf="playerService.playerList[0]" type="submit">
      Start Game
    </button>
  </form>
</div>
