.visible-mode,
.card-container {
  display: flex;
  width: inherit;
  height: inherit;
  align-items: center;
  justify-content: center;
  background-color: #e6e6fa;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.hidden-mode {
  background-color: black;

  img {
    opacity: 0;
  }
}
