@use "../../../styles/typography" as font;
@use "../../../styles/colors"  as colors;

h1 {
  color: colors.$font-color;
  font-family: font.$libre-font;
  text-align: center;
}

.container {
  display: block;
  background-color: colors.$bg-color;
  padding: 5px 10px;
}

a {
  text-decoration: none;
}
