.container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.player {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  align-items: left;
  margin: 10px;
}
