@use "../../../styles/typography" as fonts;
@use "../../../styles/colors"  as colors;

.container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: colors.$bg-color-dark;
}

.player {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 5px;
  font-family: fonts.$abhaya-font;
  color: colors.$text-color-light;
}
