$bg-color: #fdf3c7;
$bg-color-dark: rgb(49, 44, 44);
$font-color: #385fca;
$btn-color-active: #d3f3bf;
$btn-color-disabled: lightgray;
$text-color-light: rgb(243, 172, 106);
$text-color-active: rgb(255, 4, 4);
$text-shadow-active: rgb(255, 68, 68);
