.app-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.card-grid {
  max-width: 770px;
}

.header {
  width: 100%;
}

.welcome {
  width: 100%;
  margin-top: 20px;
}
